body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}


.custom-gradient {
    --gradient-start: rgba(0, 0, 0, 1);
    --gradient-end: rgba(0, 0, 0, 0);
    background-image: linear-gradient(to bottom, var(--gradient-start) 50px, var(--gradient-end) 100px);
    height: 100px;
}


.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.textbox {
    margin-bottom: 15px;
}

.textbox label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.textbox input:focus {
    border-color: #007bff;
}



.forgot {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.forgot:hover {
    text-decoration: underline;
}
